@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.border {
  border: 4px solid red !important;
}

.myButton {
  border-radius: 5px !important;
  border: 1px solid #888 !important;

  text-transform: capitalize !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;

  font-size: 16px !important;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.7rem;
}

::-webkit-scrollbar-track {
  border: 8px solid #333;
  box-shadow: inset 0 0 2.5px 0 #333;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* for Firefox */
html {
  scrollbar-color: gray;
}

html {
  scroll-behavior: smooth;
}
@media (max-width: 360px) {
  .dialog-img {
    width: 100% !important;
    height: 100% !important;
  }
}
